{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs" role="tablist">
        {% for pane in defaultPanes %}
            {% set child_slug = pane.slug|split('_')|last %}
            <li>
                <button class="nav-link {% if child_slug == activePane %} active {% endif %}"
                        id="{{ child_slug }}-tab"
                        data-bs-toggle="tab" data-bs-target="#{{ child_slug }}"
                        type="button" role="tab"
                        aria-controls="{{ child_slug }}" aria-selected="true">
                    {{ pane.title }}
                </button>
            </li>
        {% endfor %}
        {% block activity_tabs %}
            {% for item in openedActivities %}
                {% set activity = item.activity %}
                <li>
                    <button class="
                                    nav-link link-orange d-inline-flex justify-content-between align-content-center position-relative
                                    {% if activity.id == activePane %} active {% endif %}
                                   "
                            id="detail-activity-{{ activity.id }}-tab"
                            data-bs-toggle="tab" data-bs-target="#detail-activity-{{ activity.id }}"
                            type="button" role="tab"
                            aria-controls="detail-activity-{{ activity.id }}" aria-selected="true">
                        {% if activity.dayOfWeek is not null %}
                            {{ activity.dayOfWeek|formatDayOfWeek }} - {{ activity }}
                        {% else %}
                            {{ activity.date|dateToPaneTitle }} - {{ activity }}
                        {% endif %}
                        <a href="{{ path('activity_close', {'plannedActivity': activity.id }) }}" type="button" class="close text-decoration-none ms-2" aria-label="Close">
                            <span aria-hidden="true" class="text-danger position-absolute top-0">&times;</span>
                        </a>
                    </button>
                </li>
            {% endfor %}
        {% endblock %}
    </ul>
    <div class="tab-content col-lg-10 mx-auto">

        {# SHOWING DEFAULT PANES #}

        {% for pane in defaultPanes %}
            {% set child_slug = pane.slug|split('_')|last %}
            <div class="tab-pane fade{% if child_slug == activePane %} show active{% endif %}" id="{{ child_slug }}">
                {% include "activity/_partial/activity-table-"~child_slug~".html.twig" %}
            </div>
        {% endfor %}

        {# SHOWING ACTIVE PANES #}

        {% block activity_panes %}
            {% for item in openedActivities %}
                {% set activity = item.activity %}
            <div class="tab-pane fade{% if activity.id == activePane %} show active{% endif %}" id="detail-activity-{{ activity.id }}">
                {% include 'activity/_partial/activity-table-plan.html.twig' with {'detailedActivity': activity} %}
            </div>
            {% endfor %}
        {% endblock %}
    </div>

    <footer class="card">
        <a href="{{ path('activity_plan', {} ) }}"></a>
    </footer>
{% endblock %}
